<ion-view class="pagina" id="actividad" ng-controller="ActividadCtrl">

  <ion-content>

    <div class="helper"></div>

    <img class="btn-back" src="img/back.png" ng-click="goBack()" />

    <h1 class="center">Mi actividad</h1>

    <img class="center underline" src="img/separador.png" />

    <div class="row">

        <div class="col col-25">
            <img class="icono" src="img/actividad-01.png" />
        </div>

        <div class="col">
            <p class="fecha">1 de noviembre, 2015</p>
            <p class="titulo">¡Feliz cumpleaños!</p>
            <p class="descripcion">Disfruta de las sorpresas que tenemos para ti.</p>
        </div>

    </div>

    <hr class="separador">

    <div class="row">

        <div class="col col-25">
            <img class="icono" src="img/actividad-02.png" />
        </div>

        <div class="col">
            <p class="fecha">16 de octubre, 2015</p>
            <p class="titulo">Tienes 2 vouchers disponibles</p>
            <p class="descripcion">¡Happy Presents para ti!</p>
        </div>

    </div>

    <hr class="separador">

    <div class="row">

        <div class="col col-25">
            <img class="icono" src="img/actividad-03.png" />
        </div>

        <div class="col">
            <p class="fecha">16 de octubre, 2015</p>
            <p class="titulo">Compra en kipling perisur</p>
            <p class="descripcion">+128 SMILE POINTS</p>
        </div>

    </div>

    <hr class="separador">

    <div class="row">

        <div class="col col-25">
            <img class="icono" src="img/actividad-04.png" />
        </div>

        <div class="col">
            <p class="fecha">3 de octubre, 2015</p>
            <p class="titulo">Desbloqueaste a "Alessandro"</p>
            <p class="descripcion">Ahora puedes usarlo</p>
        </div>

    </div>

    <hr class="separador">

    <div class="row">

        <div class="col col-25">
            <img class="icono" src="img/actividad-05.png" />
        </div>

        <div class="col">
            <p class="fecha">19 de septiembre, 2015</p>
            <p class="titulo">Compra en kipling perisur</p>
            <p class="descripcion">+172 SMILE POINTS</p>
        </div>

    </div>

    <hr class="separador">

    <div class="row">

        <div class="col col-25">
            <img class="icono" src="img/actividad-06.png" />
        </div>

        <div class="col">
            <p class="fecha">18 de septiembre, 2015</p>
            <p class="titulo">Descargaste la aplicación</p>
            <p class="descripcion">+100 SMILE POINTS</p>
        </div>

    </div>

    <hr class="separador">

    <div class="row">

        <div class="col col-25">
            <img class="icono" src="img/actividad-07.png" />
        </div>

        <div class="col">
            <p class="fecha">18 de septiembre, 2015</p>
            <p class="titulo">¡Bienvenida a kipling friends!</p>
            <p class="descripcion">Disfruta de las sorpresas que tenemos para ti.</p>
        </div>

    </div>

  </ion-content>

</ion-view>
