<ion-view class="pagina" id="beneficios" ng-controller="BeneficiosCtrl">

  <!-- <div class="row bg-rosa-claro">

    <img class="center punteada" src="img/punteada.png" />

  </div> -->

  <ion-content>

    <div class="helper"></div>

    <img class="center img-beneficio" src="img/beneficio-01.png" />

  </ion-content>

  <div class="bar bar-footer def-footer">
    <div class="title"><a ui-sref="loggedin.tienda" ng-click="setActive(&apos;tienda&apos;)"><strong>Canjéalo en la tienda en línea</strong></a></div>
  </div>

</ion-view>
