<ion-view class="pagina" id="blog" ng-controller="BlogCtrl">

  <ion-content>

    <div class="helper"></div>

    <img class="center title" src="img/blog-title.png" />

    <div class="row">

        <div class="col left">
            <img class="blog-button-bg" src="img/blog-01.png" />
            <div class="blog-button">Tips de belleza</div>
        </div>

        <div class="col right">
            <img class="blog-button-bg" src="img/blog-02.png" />
            <div class="blog-button">Estilo de vida</div>
        </div>

    </div>

    <div class="row">

        <div class="col left">
            <img class="blog-button-bg" src="img/blog-03.png" />
            <div class="blog-button">Viajes</div>
        </div>

        <div class="col right">
            <img class="blog-button-bg" src="img/blog-04.png" />
            <div class="blog-button">Eventos</div>
        </div>

    </div>
    <div class="row separador-ondas">
      <div class="col ondas"></div>
      <div class="col-center "><h1>LOS MÁS VISTOS</h1></div>
      <div class="col ondas"></div>
    </div>

    <div class="row">
        <div class="col">
          <img class="blog-button-bg" src="img/blog-post-01.png" />
          <div class="blog-post-header">
            <h1>pellentesque vitae sapien</h1>
            <h2>style <span>- 01 de julio, 2004</span></h2>
            <div class="row blog-post-rating">
              <div class="col">
                <img src="img/blog-star-on.png" />
              </div>
              <div class="col">
                <img src="img/blog-star-on.png" />
              </div>
              <div class="col">
                <img src="img/blog-star-on.png" />
              </div>
              <div class="col">
                <img src="img/blog-star-off.png" />
              </div>
              <div class="col">
                <img src="img/blog-star-off.png" />
              </div>
            </div>
            <h3>Por Diana</h3>
          </div>
        </div>
    </div>
    <div class="row blog-post-content">
      <div class="col padding">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
      <div class="coll separador-vertical" ></div>
      <div class="col-25 col-center leer-mas" >Leer Más</div>
    </div>

    <div class="row">
        <div class="col">
          <img class="blog-button-bg" src="img/blog-post-02.png" />
          <div class="blog-post-header">
            <h1>pellentesque vitae sapien</h1>
            <h2>style <span>- 01 de julio, 2004</span></h2>
            <div class="row blog-post-rating">
              <div class="col">
                <img src="img/blog-star-on.png" />
              </div>
              <div class="col">
                <img src="img/blog-star-on.png" />
              </div>
              <div class="col">
                <img src="img/blog-star-off.png" />
              </div>
              <div class="col">
                <img src="img/blog-star-off.png" />
              </div>
              <div class="col">
                <img src="img/blog-star-off.png" />
              </div>
            </div>
            <h3>Por Diana</h3>
          </div>
        </div>
    </div>
    <div class="row blog-post-content">
      <div class="col padding">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
      <div class="coll separador-vertical" ></div>
      <div class="col-25 col-center leer-mas" >Leer Más</div>
    </div>

    <!-- categorias -->
    <div class="row responsive-sm responsive-mg responsive-ld blog-categories">
      <div class="col">
        <div class="row">
          <div class="col blog-category active">Nuevo</div>
          <div class="col blog-category">Belleza</div>
          <div class="col blog-category">Viaje</div>
          <div class="col blog-category">Tips</div>
          <div class="col blog-category">Lanzamientos</div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col blog-category">Fashion</div>
          <div class="col blog-category">Tendencias</div>
          <div class="col blog-category">Bolso</div>
          <div class="col blog-category">Cuidados</div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <div class="row blog-footer">
      <div class="col">Moda</div>
      <div class="col">|</div>
      <div class="col col-33">Vida y Estilo</div>
      <div class="col">|</div>
      <div class="col">Travesía</div>
      <div class="col">|</div>
      <div class="col">Detalles</div>
    </div>
    <div class="row blog-footer-ending">
    </div>

  </ion-content>

</ion-view>
