<ion-view class="pagina" id="blog" ng-controller="BlogCtrl">

  <ion-content>

    <div class="helper"></div>

    <img class="center title" src="img/blog-title.png" />

    <div class="row">

        <div class="col left">
            <img class="blog-button-bg" src="img/blog-01.png" />
            <div class="blog-button">Tips de belleza</div>
        </div>

        <div class="col right">
            <img class="blog-button-bg" src="img/blog-02.png" />
            <div class="blog-button">Estilo de vida</div>
        </div>

    </div>

    <div class="row">

        <div class="col left">
            <img class="blog-button-bg" src="img/blog-03.png" />
            <div class="blog-button">Viajes</div>
        </div>

        <div class="col right">
            <img class="blog-button-bg" src="img/blog-04.png" />
            <div class="blog-button">Eventos</div>
        </div>

    </div>

  </ion-content>

</ion-view>
