<ion-view class="pagina" id="cambiar-avatar" ng-controller="CambiarAvatarCtrl">

  <!-- <div class="row bg-rosa-claro">

    <img class="center punteada" src="img/punteada.png" />

  </div> -->

  <ion-content>

    <div class="helper"></div>

    <h1>Cambia tu avatar</h1>

    <div class="filas">

        <div class="row">

            <div class="col">

                <img class="center img-avatar" src="img/cambia-01.png" />

                <h2 class="center">Guy</h2>

            </div>

            <div class="col">

                <img class="center img-avatar" src="img/cambia-02.png" />

                <h2 class="center">Jim</h2>

            </div>

            <div class="col">

                <img class="center img-avatar" src="img/cambia-03.png" />

                <h2 class="center disabled">Ice</h2>

            </div>

        </div>

        <div class="row">

            <div class="col">

                <img class="center img-avatar" src="img/cambia-04.png" />

                <h2 class="center disabled">Mom?</h2>

            </div>

            <div class="col">

                <img class="center img-avatar" src="img/cambia-05.png" />

                <h2 class="center disabled">Jean M</h2>

            </div>

            <div class="col">

                <img class="center img-avatar" src="img/cambia-06.png" />

                <h2 class="center">Cupid</h2>

            </div>

        </div>

        <div class="row">

            <div class="col">

                <img class="center img-avatar" src="img/cambia-07.png" />

                <h2 class="center disabled">Bunny</h2>

            </div>

            <div class="col">

                <img class="center img-avatar" src="img/cambia-08.png" />

                <h2 class="center disabled">Doug</h2>

            </div>

            <div class="col">

                <img class="center img-avatar" src="img/cambia-09.png" />

                <h2 class="center disabled">Felipe</h2>

            </div>

        </div>

    </div>

  </ion-content>

</ion-view>
