<ion-view id="login" class="has-footer" ng-controller="LoginCtrl">

  <ion-content class="has-footer">

    <div class="header-container">
      <img class="center img-circulo" src="img/logo-circulo.png" />
      <img class="center img-animales" src="img/changuitos.png" />
    </div>

    <div>

      <hr class="punteada" />

      <button class="button center btn-fb">
        <span>f</span> | Conéctate con tu Facebook
      </button>

      <form ng-submit="login()">
        <p class="center texto">O entra con tu mail</p>

        <input ng-model="user.email" class="center" type="email" name="email" placeholder="E-MAIL" />
        <input ng-model="user.password" class="center" type="password" name="password" placeholder="CONTRASEÑA" />

        <p class="center texto">¿Tienes tarjeta física?</p>

        <input class="center" type="text" name="id_tarjeta" placeholder="INTRODUCE TU ID" />

        <button type="submit" class="button center btn-entrar" ui-sref="loggedin.perfil">
          <span>Entrar</span>
        </button>

        <a class="center btn-recovery" ui-sref="recovery">¿Olvidaste tu contraseña?</a>

      </form>

    </div>

  </ion-content>

  <div class="bar bar-footer def-footer">
    <div class="title">¿Aún no conoces kipling friends? <a ui-sref="register"><strong>Registrate aquí</strong></a></div>
  </div>

</ion-view>
