<ion-view id="login" class="bg-rosa-claro" ng-controller="LoginCtrl">

  <ion-content>

    <div class="bg-blanco padding-top">
      <img class="center img-circulo" src="img/circulo.png" />
      <img class="center img-animales" src="img/animales.png" />
    </div>

    <div class="padding">

      <button class="button center btn-fb">
        <span>f</span> | Conéctate con tu Facebook
      </button>

      <p class="center padding-top texto">O entra con tu email</p>

      <input class="center" type="email" name="email" placeholder="e-mail" />
      <input class="center" type="password" name="password" placeholder="contraseña" />

      <p class="center padding-top texto">Tienes tarjeta física?</p>

      <input class="center" type="text" name="id_tarjeta" placeholder="introduce tu id" />

      <button class="button center btn-entrar" ui-sref="loggedin.perfil">
        Entrar
      </button>

    </div>

  </ion-content>

  <div class="bar bar-footer def-footer">
    <div class="title">¿Aún no conoces kipling friends? <a ui-sref="register"><strong>Registrate aquí</strong></a></div>
  </div>

</ion-view>
