<ion-view id="login" class="has-footer" ng-controller="LoginCtrl">

  <ion-content class="has-footer">

    <div class="bg-blanco">
      <img class="center img-circulo" src="img/circulo.png" />
      <img class="center img-animales" src="img/animales.png" />
    </div>

    <div>

      <img class="center punteada" src="img/punteada.png" />

      <button class="button center btn-fb">
        <span>f</span> | Conéctate con tu Facebook
      </button>

      <form ng-submit="login()">
        <p class="center texto">O entra con tu email</p>

        <input ng-model="user.email" class="center" type="email" name="email" placeholder="E-MAIL" />
        <input ng-model="user.password" class="center" type="password" name="password" placeholder="CONTRASEÑA" />

        <p class="center texto">Tienes tarjeta física?</p>

        <input class="center" type="text" name="id_tarjeta" placeholder="INTRODUCE TU ID" />

        <button type="submit" class="button center btn-entrar">
          Entrar
        </button>
      </form>

    </div>

  </ion-content>

  <div class="bar bar-footer def-footer">
    <div class="title">¿Aún no conoces kipling friends? <a ui-sref="register"><strong>Registrate aquí</strong></a></div>
  </div>

</ion-view>
