<ion-view class="pagina" id="perfil" ng-controller="PerfilCtrl">

  <!-- <div class="row bg-rosa-claro">

    <img class="center punteada" src="img/punteada.png" />

  </div> -->

  <ion-content class="has-footer">

    <div class="helper"></div>

    <div class="row avatar-row">
      <div class="col-33 flexbox-container">
        <img id="avatar" class="center" src="img/avatar-mid.png" />
      </div>
      <div class="col-67">
        <p class="username padding-top">{{user.firstname}}</p>

        <p class="editar-perfil"><a ui-sref="loggedin.editar">Editar perfil</a></p>

        <p class="puntaje">Tienes <span>900</span> <span>PUNTOS</span></p>
        <p class="info-puntos">reunidos para canjear los vouchers disponibles</p>
      </div>
    </div>

    <img class="center separador" src="img/separador.png" />

    <div class="boton center row">
      <a ui-sref="loggedin.beneficios">
        <div class="row">
          <div class="col-33 left">
            <img src="img/btn-beneficios.png" />
          </div>
          <div class="col-67 right">
            <span class="kipling-bold padding-left">Mis beneficios</span>
          </div>
        </div>
      </a>
    </div>

    <img class="center separador" src="img/separador.png" />

    <div class="boton center row">
      <a ui-sref="loggedin.actividad">
        <div class="row">
          <div class="col-33 left">
            <img src="img/btn-actividad.png" />
          </div>
          <div class="col-67 right">
            <span class="kipling-bold padding-left">Mi actividad</span>
          </div>
        </div>
      </a>
    </div>

    <img class="center separador" src="img/separador.png" />

    <div class="boton center row">
      <a ui-sref="loggedin.cambiar-avatar">
        <div class="row">
          <div class="col-33 left">
            <img src="img/btn-changuitos.png" />
          </div>
          <div class="col-67 right">
            <span class="kipling-bold padding-left">Mis changuitos</span>
          </div>
        </div>
      </a>
    </div>

    <img class="center separador" src="img/separador.png" />

  </ion-content>

  <div class="footer">
    <img class="center boton-footer" src="img/semicirculo.png" />
    <div class="texto-footer bg-rosa-medio">
      <p class="center">Desliza para ver tu tarjeta</p>
      <img class="center" src="img/punteada-footer.png" />
    </div>
  </div>

</ion-view>
