<ion-view class="pagina" id="perfil" ng-controller="PerfilCtrl">

  <!-- <div class="row bg-rosa-claro">

    <img class="center punteada" src="img/punteada.png" />

  </div> -->

  <ion-content class="has-footer">

    <div class="helper"></div>

    <div class="padding-top">
      <img id="avatar" class="center" src="img/avatar-mid.png" />
    </div>

    <p class="center username padding-top">Diana</p>

    <p class="center editar-perfil"><a ui-sref="loggedin.editar">Editar perfil</a></p>

    <p class="center puntaje">Tienes <span ng-bind="user.points"></span> <span>PUNTOS</span></p>
    <p class="center info-puntos">reunidos para canjear los vouchers disponibles</p>

    <img class="center separador" src="img/separador.png" />

    <div class="boton center">
      <a ui-sref="loggedin.beneficios">
        <img src="img/btn-beneficios.png" />
        <span class="kipling-bold padding-left">Mis beneficios</span>
      </a>
    </div>

    <img class="center separador" src="img/separador.png" />

    <div class="boton center">
      <a ui-sref="loggedin.actividad">
        <img src="img/btn-actividad.png" />
        <span class="kipling-bold padding-left">Mi actividad</span>
      </a>
    </div>

    <img class="center separador" src="img/separador.png" />

    <div class="boton center">
      <a ui-sref="loggedin.changuitos">
        <img src="img/btn-changuitos.png" />
        <span class="kipling-bold padding-left">Mis changuitos</span>
      </a>
    </div>

    <img class="center separador" src="img/separador.png" />

  </ion-content>

  <div class="footer">
    <img class="center boton-footer" src="img/semicirculo.png" />
    <div class="texto-footer bg-rosa-medio">
      <p class="center">Desliza para ver tu tarjeta</p>
      <img class="center" src="img/punteada-footer.png" />
    </div>
  </div>

</ion-view>
