<ion-view class="pagina" id="tienda" ng-controller="TiendaCtrl">

  <ion-content>

    <div class="helper"></div>

    <h1>¡Compra ahora!</h1>

    <h2>¿Tienes un cupón? No olvides canjearlo.</h2>

    <div class="filas">

        <div class="row">

            <div class="col">

                <h3>Sunita bpc</h3>

                <img class="center img-producto" src="img/shop-01.png" />

                <p class="center descripcion">Dazz Tr Blue Mc</p>

                <div class="center circulos">

                    <span class="circulo azul-oscuro"></span>
                    <span class="circulo turquesa-oscuro"></span>

                </div>

                <button class="button center btn-tienda">Ir a la tienda online</button>

            </div>

            <div class="col">

                <h3>Tabbie kc</h3>

                <img class="center img-producto" src="img/shop-02.png" />

                <p class="center descripcion">City Denim</p>

                <div class="center circulos">

                    <span class="circulo azul-oscuro2"></span>
                    <span class="circulo marron"></span>
                    <span class="circulo gris"></span>

                </div>

                <button class="button center btn-tienda">Ir a la tienda online</button>

            </div>

        </div>

        <div class="row">

            <div class="col">

                <h3>Yannik kc</h3>

                <img class="center img-producto" src="img/shop-03.png" />

                <p class="center descripcion">City Brown</p>

                <div class="center circulos">

                    <span class="circulo azul-oscuro2"></span>
                    <span class="circulo marron"></span>
                    <span class="circulo gris"></span>

                </div>

                <button class="button center btn-tienda">Ir a la tienda online</button>

            </div>

            <div class="col">

                <h3>Delphin n bpc</h3>

                <img class="center img-producto" src="img/shop-04.png" />

                <p class="center descripcion">Dazz Emerald</p>

                <div class="center circulos">

                    <span class="circulo azul-oscuro"></span>
                    <span class="circulo turquesa-oscuro"></span>

                </div>

                <button class="button center btn-tienda">Ir a la tienda online</button>

            </div>

        </div>

    </div>

  </ion-content>

  <div class="bar bar-footer def-footer">
    <div class="title"><a href="#"><strong>VER MÁS</strong></a></div>
  </div>

</ion-view>
