$rojo-transparente: rgba(#b1294c, .85);
$rosa-fuente: #db4068;

#blog {

    .title {
        width: 100%;
    }

    .col {
        position: relative;
    }

    .row {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
    }

    .left {
        padding-left: 0px;
    }

    .right {
        padding-right: 0px;
    }

    .blog-button-bg {
        width: 100%;
    }

    .blog-button {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        height: 35px;
        /*margin-left: auto;
        margin-right: auto;*/
        background: white;
        width: 80%;
        text-align: center;
        font-family: KiplingBold;
        font-size: 10pt;
        line-height: 28pt;
        text-transform: uppercase;
        /*padding-top: 10px;
        padding-bottom: 10px;*/
        /*padding-left: 40px;
        padding-right: 40px;*/
    }

    .separador-ondas {
      height: 61px;

      .ondas {
        background-image: url('../img/separador-ondas.png');
        background-repeat: repeat-x;
        background-position: center;
        margin-left: 5%;
        margin-right: 5%;
      }

      h1 {
        font-size: 13pt;
        font-family: KiplingBold;
        text-align: center;
        margin: 0;
      }
    }

    .blog-post-header {
      position: absolute;
      top: 30%;
      left: 10%;

      .blog-header-text {
        color: white;
        line-height: 10pt;
        box-shadow: none;
        font-family: KiplingRegular;
        margin: 0;
        font-size: 8pt;
        vertical-align: middle
      }

      .blog-header-title {
        @extend .blog-header-text;
        text-transform: uppercase;
        font-family: KiplingBold;
        font-size: 9pt;
      }

      .category-list {
        @extend .blog-header-title;
        vertical-align: middle;
        max-width: 60%;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: relative;
      }

      // ul {
      //   margin-top: 0;
      // }

       li {
        display: inline;
      }

      .blog-post-rating {
        padding: 0;
        width: 25%;

        .col {
          height: inherit;
          padding: 0;
        }

        img {
          width: inherit;
        }
      }
    }

    .blog-post-content {
        font-family: KiplingRegular;
        line-height: 11pt;
        color: $gris;

        .separador-vertical
          {
            border: 1px solid $rosa-tenue;
            border-right: 0;
            border-top: 0;
            border-bottom: 0;
            border-style: dashed;
            margin-right: 10px;
            margin-top: 5%;
            margin-bottom: 5%;
          }

        .leer-mas {
            color: $rosa-oscuro;
            font-family: KiplingBold;
            text-transform: uppercase;
            font-size: 10pt;
        }
    }


}

.blog-footer {
  background-color: $rosa-muy-claro;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 4%;
  padding-right: 4%;
  color: $gris;
  text-transform: uppercase;
  text-align: center;
  font-family: KiplingRegular;
  font-size: 9pt;
}

.blog-footer-ending {
  background-color: $rosa-oscuro;
  height: 10px;
}

.blog-categories {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;

    .col, .row {
          padding: 0;
          margin: 0;
    }

    .row {
      margin-bottom: 1%;
    }

    .col {
      margin-right: 1%;

    }

  .blog-category {
    background-color: $rosa-medio;
    font-size: 8pt;
    font-family: KiplingRegular;
    text-align: center;
    color: white;
  }

  .blog-category.active {
    background-color: $rosa-oscuro;
  }
}

#blog-detail {

    .header {
        .logo {
            width: 80%;
            margin-left: 10%;
            background-color: $rojo-transparente;
            position: absolute;
            top: inherit;

            padding: 5%;

            img {
            width: 75%
            }
        }

        .bg img {
            width: 100%;
        }

        h1 {
            color: white;
            position: absolute;
            top: 25%;
            font-family: KiplingBold;
            font-size: 12pt;
            text-transform: uppercase;
            margin: 0;
            text-align: center;
            width: 100%;
        }
    }
    .content {
        h2 {
            margin: 0;
            font-size: 11pt;
            font-family: KiplingRegular;
            width: 100%;
            text-align: center;
            margin-top: 10%;
            text-transform: uppercase;

            span {
                color: $rosa-fuente;
                font-family: KiplingBold;
            }
        }

        h3 {
            margin: 0;
            width: 100%;
            text-align: center;
            font-size: 11pt;
        }

        .rating {
            text-align: center;
            width: 100%;
            margin-top: 2%;
            display: flex;
            width: 20%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 7%;

            li {
                img {
                    width: 100%;
                }
            }

        }

        p {
            width: 75%;
            margin-bottom: 10%;
            color: $gris;
        }

        .pager {
            padding-left: 10%;
            padding-right: 10%;

            span {
                font-family: KiplingRegular;
                text-transform: uppercase;
                color: $rosa-oscuro;
            }

            :last-child {
                float: right;
            }
        }

        .header-section {
            font-family: KiplingBold;
            text-transform: uppercase;
            color: black;
            font-size: 20pt;
        }

        .subheader-section {
            text-transform: uppercase;
        }

        .related {

            .col {
                margin: 0;
            }

            img {
                width: 100%;
            }

            h1 {
                font-size: 10pt;
                text-transform: none;
                margin: 0;
            }
        }

        .blog-footer {

            .col {
                border-right: solid;
                border-color: #C0B7BC;
                border-width: 1px;
                padding: 0;
                margin: 0;
                vertical-align: middle;
            }

            :last-child {
                border: 0;
            }
        }

    }
}
