/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

@font-face {
    font-family: 'KiplingRegular';
    src: url('../lib/ionic/fonts/KiplingRegular.eot');
    src: url('../lib/ionic/fonts/KiplingRegular.eot') format('embedded-opentype'),
         url('../lib/ionic/fonts/KiplingRegular.woff2') format('woff2'),
         url('../lib/ionic/fonts/KiplingRegular.woff') format('woff'),
         url('../lib/ionic/fonts/KiplingRegular.ttf') format('truetype'),
         url('../lib/ionic/fonts/KiplingRegular.svg#KiplingRegular') format('svg');
}

@font-face {
    font-family: 'KiplingBold';
    src: url('../lib/ionic/fonts/KiplingBold.eot');
    src: url('../lib/ionic/fonts/KiplingBold.eot') format('embedded-opentype'),
         url('../lib/ionic/fonts/KiplingBold.woff2') format('woff2'),
         url('../lib/ionic/fonts/KiplingBold.woff') format('woff'),
         url('../lib/ionic/fonts/KiplingBold.ttf') format('truetype'),
         url('../lib/ionic/fonts/KiplingBold.svg#KiplingBold') format('svg');
}

@font-face {
    font-family: 'gnyrwn971';
    src: url('../lib/ionic/fonts/gnyrwn971.eot');
    src: url('../lib/ionic/fonts/gnyrwn971.eot') format('embedded-opentype'),
         url('../lib/ionic/fonts/gnyrwn971.woff2') format('woff2'),
         url('../lib/ionic/fonts/gnyrwn971.woff') format('woff'),
         url('../lib/ionic/fonts/gnyrwn971.ttf') format('truetype'),
         url('../lib/ionic/fonts/gnyrwn971.svg#gnyrwn971') format('svg');
}

$rosa-muy-claro: #fdeef5 !default;
$rosa-claro: #f7cddd !default;
$rosa-medio: #f1acc6 !default;
$rosa-tenue: #e0b5c8 !default;
$rosa-oscuro: #e35a8e !default;
$fucsia: rgba(#a5304d, .5) !default;
$gris: #6d6e70 !default;
$gris-claro: #e4e3e3 !default;
$azul-fb: #4868ad !default;

.bg-rosa-claro {
    background: $rosa-claro;
}

.bg-rosa-medio {
    background: $rosa-medio;
}

.bg-rosa-oscuro {
    background: $rosa-oscuro;
}

.bg-blanco {
    background: white;
}

.bg-fucsia {
    background: $fucsia;
}

.bg-musica {
    background: -webkit-linear-gradient(top,  #333333 0%,#000000 100%);
    background: linear-gradient(to bottom,  #333333 0%,#000000 100%);
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.def-footer {
    font-family: KiplingRegular;
    background: $rosa-oscuro;
    color: white;
    text-transform: uppercase;

    .title {
        font-size: 10pt;
    }

    a {
        text-decoration: none;
    }

    .bold {
        font-family: KiplingBold;
    }
}

.full-modal {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

strong {
    font-family: KiplingBold;
}

/*.half {
    -ms-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -o-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
}*/

.kipling-menu {

    .punteada {
        position: absolute;
        width: 100%;
        z-index: 12;
        top: 4px;
    }

    position: absolute;
    width: 100%;
    z-index: 6;

    img {
        width: 35px;
        padding-top: 15px;
    }

    div {
        text-align: center;
        padding: 0;
        z-index: 6;
    }

    p {
        font-family: KiplingRegular;
        color: white;
        text-transform: uppercase;
        font-size: 10pt;
        margin: 0;
    }

    a {
        text-decoration: none;
    }

    .auxiliar {
        height: 5px;
        margin: 0;
        div {
            z-index: 6;
        }
    }

}

.helper {
    height: 95px;
}

#register {

    .punteada {
        margin-top: 25px;
    }

    .logo {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 134px;
    }

    input {
        height: 35px;
        text-align: center;
        font-family: KiplingRegular;
        font-size: 11pt;
        line-height: 22pt;
        text-transform: uppercase;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 80%;
    }

    .btn-entrar {
        background-color: $rosa-oscuro;
        font-family: KiplingBold;
        text-transform: uppercase;
        font-size: 12pt;
        line-height: 24pt;
        min-height: 35px;
        width: 80%;
        color: white;
        border: none;
    }

    .chk-terms {
        margin-top: 30px;
        margin-bottom: 30px;

        img {
            width: 15px;
            vertical-align: middle;
        }

        span {
            color: $gris;
            font-family: KiplingRegular;
            font-size: 9pt;
            line-height: 18pt;

            strong {
                text-transform: uppercase;
            }
        }

        a {
            text-decoration: none;
            color: $gris;
        }
    }

}

#login {

    background: $rosa-claro;

    .punteada {
        padding: 10px;
    }

    .img-circulo {
        width: 250px;
    }

    .img-animales {
        width: 375px;
        margin-top: -85px;
    }

    .btn-fb {
        font-family: KiplingRegular;
        font-size: 10pt;
        line-height: 20pt;
        min-height: 35px;
        width: 80%;
        color: white;
        background-color: $azul-fb;
        border: none;
        margin-bottom: 5px;

        span {
            font-size: 12pt;
            font-family: KiplingBold;
        }
    }

    .texto {
        font-family: KiplingRegular;
        font-size: 11pt;
        text-transform: uppercase;
        margin: 0;
        padding-top: 3px;
    }

    .btn-entrar {
        background-color: $rosa-oscuro;
        font-family: KiplingBold;
        text-transform: uppercase;
        font-size: 12pt;
        line-height: 24pt;
        min-height: 35px;
        width: 80%;
        color: white;
        border: none;
    }

    input {
        height: 30px;
        text-align: center;
        font-family: KiplingRegular;
        font-size: 11pt;
        line-height: 22pt;
        text-transform: uppercase;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 80%;
    }

    .def-footer {

        .title {
            font-size: 10pt;
        }

    }

}

#perfil {

    a {
        text-decoration: none;
        color: black;
    }

    #avatar {
        width: 110px;
    }

    .username {
        font-family: KiplingBold;
        font-size: 18pt;
        text-transform: uppercase;
        color: $rosa-oscuro;
    }

    .editar-perfil {
        font-family: KiplingRegular;
        font-size: 11pt;
        margin-top: -4px;
        margin-bottom: 4px;
    }

    .puntaje {

        font-family: KiplingBold;
        font-size: 16pt;

        span {
            color: $rosa-oscuro;
        }

    }

    .info-puntos {
        font-family: KiplingRegular;
        font-size: 11pt;
    }

    .separador {
        width: 300px;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .boton {
        font-family: KiplingBold;
        font-size: 10pt;
        width: 200px;
        text-align: left;
        padding-top: 3px;
        padding-bottom: 3px;

        img {
            display: inline-block;
            vertical-align: middle;
            width: 35px;
        }

        span {
            display: inline-block;
            vertical-align: middle;
            text-transform: uppercase;
        }
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 85px;
        padding: 0;

        .boton-footer {
            width: 70px;
        }

        .texto-footer {
            width: 100%;
            height: 100%;
            padding: 0;
            p {
                font-family: KiplingBold;
                font-size: 12pt;
                text-transform: uppercase;
                color: white;
                margin: 0;
                padding-top: 6px;
                padding-bottom: 1px;
            }

            img {
                width: 350px;
            }
        }
    }

}

#editar {

    #avatar {
        width: 90px;
    }

    #form {

        p {
            font-family: KiplingRegular;
            color: #626262;
            text-transform: uppercase;
            padding-top: 7px;
        }

        input {
            font-family: KiplingRegular;
            font-size: 11pt;
            width: 80%;
            border: 1px solid #eeeeee;
            box-shadow: none;
            border-radius: 0px;
            -webkit-appearance: none;
            margin-top: -7px;
        }

    }

    .def-footer {
        .title {
            font-size: 12pt;
        }
    }

}

#modal-perfil {

    color: white;

    #btn-cerrar {
        position: absolute;
        top: 30px;
        right: 30px;
        img {
            width: 20px;
        }
    }

    .avatar {
        width: 200px;
        padding-top: 150px;
    }

    img {
        width: 60px;
    }

}

#cambiar-avatar {

    h1 {
        font-family: KiplingBold;
        color: $rosa-oscuro;
        text-transform: uppercase;
        font-size: 16pt;
        text-align: center;
    }

    .img-avatar {
        width: 70px;
    }

    h2 {
        font-family: KiplingBold;
        font-size: 10pt;
        text-align: center;
        color: $rosa-oscuro;
        text-transform: uppercase;
    }

    h2.disabled {
        color: $gris-claro;
    }

    .filas .row:not(:first-child) {
        padding-top: 10px;
    }

}

#actividad {

    .col {
        position: relative;
    }

    .avatar {
        width: 75px;
    }

    h1 {
        font-family: KiplingBold;
        text-transform: uppercase;
        font-size: 16pt;
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translate(0, -50%);
        display: block;
    }

    .icono {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        width: 35px;
        display: block;
    }

    .fecha {
        font-family: KiplingRegular;
        font-size: 9pt;
        margin: 0;
    }

    .titulo {
        font-family: KiplingRegular;
        font-size: 10pt;
        text-transform: uppercase;
        color: $gris;
        margin: 0;
    }

    .descripcion {
        font-family: KiplingRegular;
        font-size: 9.5pt;
        margin: 0;
    }

    .separador {
        margin-left: 12.5%;
        height: 1px;
        border: 0;
        border-top: 1px solid $rosa-claro;
    }

}

#beneficios {

    .img-beneficio {
        width: 270px;
        padding-top: 20px;
    }

}

#tienda {

    $azul-oscuro: #2e3e56;
    $turquesa-oscuro: #048b97;

    $azul-oscuro2: #3c3e60;
    $marron: #87644d;
    $gris: #5c6272;

    .azul-oscuro {
        color: $azul-oscuro;
    }

    .turquesa-oscuro {
        color: $turquesa-oscuro;
    }

    .azul-oscuro2 {
        color: $azul-oscuro2;
    }

    .marron {
        color: $marron;
    }

    .gris {
        color: $gris;
    }

    h1 {
        text-align: center;
        font-family: gnyrwn971;
        color: $rosa-oscuro;
        margin-top: 5px;
    }

    h2 {
        text-align: center;
        font-family: KiplingRegular;
        font-size: 10pt;
        margin-bottom: 0px;
    }

    h3 {
        color: $rosa-oscuro;
        text-transform: uppercase;
        font-family: KiplingBold;
        font-size: 14pt;
        text-align: center;
        margin: 0;
    }

    .img-producto {
        width: 90px;
    }

    .descripcion {
        font-family: KiplingRegular;
        margin: 0;
    }

    .circulo:before {
        content: '\25CF';
        font-size: 30px;
    }

    .btn-tienda {
        background: $rosa-oscuro;
        color: white;
        font-family: KiplingBold;
        font-size: 10pt;
        border: none;
        text-transform: uppercase;
        height: 28px;
    }

    .filas .row:not(:first-child) {
        padding-top: 10px;
    }

    .def-footer {
        .title {
            font-size: 16pt;
        }
    }

}

#musica {

    .spotify {
        width: 190px;
        margin-top: 95px;
        margin-bottom: 20px;
    }

    .btn-spotify {
        background: #1dd75f;
        color: white;
        text-transform: uppercase;
        box-shadow: none;
        border: none;
        border-radius: 20px;
        font-family: KiplingBold;
        font-size: 16pt;
        height: 35px;
        width: 200px;
        padding-top: 9px;
        padding-left: 30px;
        padding-right: 30px;
    }

}

#blog {

    .title {
        width: 100%;
    }

    .col {
        position: relative;
    }

    .row {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
    }

    .left {
        padding-left: 0px;
    }

    .right {
        padding-right: 0px;
    }

    .blog-button-bg {
        width: 100%;
    }

    .blog-button {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        height: 35px;
        /*margin-left: auto;
        margin-right: auto;*/
        background: white;
        width: 80%;
        text-align: center;
        font-family: KiplingBold;
        font-size: 10pt;
        line-height: 28pt;
        text-transform: uppercase;
        /*padding-top: 10px;
        padding-bottom: 10px;*/
        /*padding-left: 40px;
        padding-right: 40px;*/
    }

    .separador-ondas {
      height: 61px;

      .ondas {
        background-image: url('../img/separador-ondas.png');
        background-repeat: repeat-x;
        background-position: center;
        margin-left: 5%;
        margin-right: 5%;
      }

      h1 {
        font-size: 13pt;
        font-family: KiplingBold;
        text-align: center;
        margin: 0;
      }
    }

    .blog-post-header {
      position: absolute;
      top: 30%;
      left: 10%;

      .blog-header-text {
        color: white;
        line-height: 10pt;
        box-shadow: none;
        font-family: KiplingRegular;
        margin: 0;
        font-size: 8pt;
        vertical-align: middle
      }

      .blog-header-title {
        @extend .blog-header-text;
        text-transform: uppercase;
        font-family: KiplingBold;
        font-size: 9pt;
      }

      .category-list {
        @extend .blog-header-title;
        vertical-align: middle;
        max-width: 60%;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: relative;
      }

      // ul {
      //   margin-top: 0;
      // }

       li {
        display: inline;
      }

      .blog-post-rating {
        padding: 0;
        width: 25%;

        .col {
          height: inherit;
          padding: 0;
        }

        img {
          width: inherit;
        }
      }
    }

    .blog-post-content {
        font-family: KiplingRegular;
        line-height: 11pt;
        color: $gris;

        .separador-vertical
          {
            border: 1px solid $rosa-tenue;
            border-right: 0;
            border-top: 0;
            border-bottom: 0;
            border-style: dashed;
            margin-right: 10px;
            margin-top: 5%;
            margin-bottom: 5%;
          }

        .leer-mas {
            color: $rosa-oscuro;
            font-family: KiplingBold;
            text-transform: uppercase;
            font-size: 10pt;
        }
    }

    .blog-categories {
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 5%;
        padding-right: 5%;

        .col, .row {
              padding: 0;
              margin: 0;
        }

        .row {
          margin-bottom: 1%;
        }

        .col {
          margin-right: 1%;

        }

      .blog-category {
        background-color: $rosa-medio;
        font-size: 8pt;
        font-family: KiplingRegular;
        text-align: center;
        color: white;
      }

      .blog-category.active {
        background-color: $rosa-oscuro;
      }
    }

    .blog-footer {
      background-color: $rosa-muy-claro;
      padding-top: 10%;
      padding-bottom: 10%;
      padding-left: 4%;
      padding-right: 4%;
      color: $gris;
      text-transform: uppercase;
      text-align: center;
      font-family: KiplingRegular;
      font-size: 9pt;
    }

    .blog-footer-ending {
      background-color: $rosa-oscuro;
      height: 10px;
    }
}
